@using VotingWebApplication.EN;
@model VotingWebApplication.EN.Usuario
@{
    ViewBag.Title = "Create";
}
@{

    RegistroNacional registroNacional = ViewData["registroNacional"] as RegistroNacional;
}

<h2>Proceso de creación de usuario</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DUI: @registroNacional.numero_dui</h4>
    <h4>Nombre: @registroNacional.nombre @registroNacional.primer_apellido</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.password2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.id_registroNacional, htmlAttributes: new { @class = "control-label col-md-2", style = "display:none;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.id_registroNacional, new { htmlAttributes = new { @class = "form-control", @Value = @registroNacional.id, style = "display:none;" } })
            @Html.ValidationMessageFor(model => model.id_registroNacional, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.id_role, htmlAttributes: new { @class = "control-label col-md-2", style = "display:none;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.id_role, new { htmlAttributes = new { @class = "form-control", @Value = 1, style = "display:none;" } })
            @Html.ValidationMessageFor(model => model.id_role, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear usuario" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
